  
    <style>
        body {
            padding:20px 0 0;
            font:14px/1.5 Arial, sans-serif;
            text-align:center;
            color:#333;
            background:#ccc;
        }
        
    </style>
